/* FONT STYLE */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
/* FONT STYLE */

/* ALL CUSTOM COLOR */
.nav-color{
    background-color: lightgoldenrodyellow;
}

.star{
    color: gold;
}
/* ALL CUSTOM COLOR */

/* HOVER EFFECT */
.hover:hover{
  color: blue;
  cursor: pointer;
}

.extra-white{
    background-color: #FFFFFF;
}
/* HOVER EFFECT */